.payment-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 30px 48px;
}

.payment-page__header {
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
.payment-page__header-text {
  flex: none;
  font-size: 24px;
  font-weight: normal;
}
.payment-page__logo {
  height: 44px;
}
@media screen and (max-width: 425px) {
  .payment-page__header-text {
    font-size: 20px;
  }
}

.payment-page__copy {
  max-width: 100%;
  margin-bottom: 10px;
}
.payment-page__copy .copyable-field__text {
  display: flex;
  align-items: center;
}
.payment-page__copy .copyable-field__text-inner,
.payment-page__copy .copyable-field__text::after {
  min-width: 0;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.payment-page__copy .copyable-field__text::after {
  order: 2;
  direction: rtl;
}
.payment-page__copy .copyable-field__text::before {
  order: 1;
  flex-shrink: 0;
  white-space: pre;
}
@media screen and (max-width: 425px) {
  .payment-page__copy .copyable-field__text::before {
    content: ". . .";
  }
  .payment-page__copy .copyable-field__text::after {
    content: attr(data-data);
  }
}

.payment-page__price {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 15px;
}
.payment-page__price-number {
  font-size: 40px;
  font-weight: 800;
}
.payment-page__price-name {
  font-size: 18px;
}

.payment-page__lot {
  text-align: center;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}
.payment-page__lot-name {
  font-size: 18px;
  font-weight: 600;
}
.payment-page__lot-description {
  font-size: 8px;
}
