:root {
  --background-color-1: #252736;
  --background-color-2: #2c2e4c;

  --foreground-color-1: #fff;

  --background-button-color-1: #fff;

  --foreground-button-color-1: #18191e;

  --success-color: #376b5a;
}
